body {
	font-family:'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	background-color: #777;
	text-align: center;
	
}



#container {
	
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	
}

header, nav, footer, section, aside {
	
	background-color: #ebebeb;
	padding: 30px;
	margin: 10px;

}

#columns {
	display:flex;
}

section {
	float: left;
	width: 500px;
	box-sizing: border-box;
	
}

aside {
 	float: right;
 	width: 360px;	
	
	
}

article {
	margin: 5px;
	padding: 15px;
	color: #ebebeb;
	background: #777;
}

h4, p {
	color: #777;
	background: #ebebeb;
	padding: 5px;
}

h4 {
	margin: 5px;
}

p {
	margin: 5px;
}

footer {
	clear: both;
}