body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    background-color: #777;
    text-align: center;
    color: #777;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

header,
nav,
footer {
    background-color: #ebebeb;
    line-height: 100px;
    margin: 10px 0 10px 0;
}

#columns {
    margin: 15px 0 15px 0px;
    line-height: 75px;
    overflow: hidden;
}

section {
    float: left;
    width: 495px;
    margin-right: 10px;
    background-color: #ebebeb;
}

aside {
    height: 270px;
    float: left;
    width: 445px;
    margin-left: 10px;
    background-color: #ebebeb;
}

article {
    margin: 0 10px 10px 10px;
    line-height: 35px;
    padding: 10px;
    color: #ebebeb;
    background: #777;
}

h4,
p {
    color: #777;
    background: #ebebeb;
    line-height: 50px;
    margin: 10px;
}

footer {
    clear: both;
}
